* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  ---body-color: #000836;
  ---nav-list-li-a-color: #ffffff;
  ---card-buttons-color: #df6100;
  ---footer-background-color: #000f43;
}

html,
body {
  scroll-behavior: smooth;
}


header {
  width: 100%;
  height: 100vh;
}

.header-head-container {
  object-fit: cover;
}


.header-content-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
}

.header-logo-container {
  width: 222px !important;
}

.header-logo-container img {
  width: 100%;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: #000836;
}


nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1175px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
  border: none !important;
}

.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  font-family: "montserrat";
  font-size: 19px;
  font-weight: 500;
  color: #f2f2f2;
}

nav .navbar .links li a:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu,
.navbar .links li .sub-menu2 {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(---nav-list-li-a-color);
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu2 li {
  padding: 0 22px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.navbar .links li .sub-menu a {
  color: var(---body-color);
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu2 a {
  color: var(---body-color);
  font-size: 15px;
  font-weight: 500;
}


.navbar .links li .sub-menu .more-arrow,
.navbar .links li .sub-menu .more-arrow2 {
  line-height: 10px;
  color: var(---body-color);
}


.navbar .links li .sub-menu2 .more-arrow2 {
  line-height: 40px;
  color: var(---body-color);
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.navbar .links li .sub-menu .more-sub-menu2 {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.links li .sub-menu .more:hover .more-sub-menu2 {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.bx-menu {
  display: none;
}

.htmlCss-sub-menu,
.sub-menu li a {
  color: var(---nav-list-li-a-color);
}






















.footer-list {
  line-height: 20px;
}

.footer-list li {
  margin-bottom: 16px;
}

.footer-list li a {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  color: var(---nav-list-li-a-color);
  text-align: center;
}

.footer-list li a:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.footer-location h3 {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  color: #f2f2f2;
  margin-bottom: 38px;
  margin-top: 55px;
  cursor: pointer;
}

.footer-location h3:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.footer-inner-list {
  margin-top: 50px;
}

.text-destription {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #f2f2f2;
}

.home-pages-footbol-formalari {
  padding: 20px;
}

.text-lacation {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  color: #f2f2f2;
  cursor: pointer;
}

.text-street {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  color: #f2f2f2;
}

.text-destription-security {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #f2f2f2;
}

.footer-location p:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.footer-location ul li span {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #f2f2f2;
  cursor: pointer;
}

.footer-conaction h3 {
  font-family: "montserrat";
  margin-bottom: 38px;
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  font-style: normal;
  text-align: left;
  color: #f2f2f2;
  cursor: pointer;
  text-align: center;
}

.footer-conaction h3:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.footer-conaction ul li p {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  color: #f2f2f2;
  margin-bottom: 34px;
  cursor: pointer;
}

.footer-conaction ul li p:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.footer-location ul li span:hover {
  color: var(---card-buttons-color);
  transition: ease 0.5s;
}

.responsive-bars {
  display: none;
}

.close-btn {
  font-size: 40px;
  z-index: 99990000;
  color: #ffffff;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
}

.check {
  display: none;
}

.header-bottom-content-for-about {
  text-align: center;
  padding-bottom: 50px;
}

.header-bottom-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-footbol-content {
  position: absolute;
  left: 80px;
}

.contactUs-header,
.home-size-for {
  position: relative;
}

.header-bottom-content h1 {
  font-family: "montserrat";
  max-width: 1074px;
  margin-left: auto;
  margin-right: auto;
  font-size: 71px;
  font-weight: 400;
  /* line-height: 40px; */
  color: var(---nav-list-li-a-color);
  margin-bottom: 0px;
}

.header-bottom-content p {
  font-family: "montserrat";
  font-size: 39px;
  font-weight: 500;
  line-height: 39px;
  color: #ffffff;
  max-width: 846px;
  margin-right: auto;
  margin-left: auto;
}

.for-cap {
  margin-top: 130px;
}

.for-cap h1 {
  font-family: "montserrat";
  max-width: 1074px;
  margin-left: auto;
  margin-right: auto;
  font-size: 91px;
  font-weight: 400;
  /* line-height: 40px; */
  color: var(---nav-list-li-a-color);
  margin-bottom: 0px;
}

.for-cap p {
  max-width: 817px;
  font-family: "montserrat";
  font-size: 29px;
  font-weight: 400;
  line-height: 41px;
  color: var(---nav-list-li-a-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
  gap: 24px;
  max-width: 1267px;
  margin: 50px auto;
}

.grid-card {
  min-width: 277px;
  background: var(---nav-list-li-a-color);
  padding: 10px;
  border-radius: 9px;
  overflow: hidden;
}

.grid-card img {
  width: 100%;
  transition: all 0.5s;
  height: 300px;
  object-fit: cover;
}

.grid-card-contents img:hover {
  transform: scale(1.1);
}

.buttons-container {
  margin-top: 17px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.kk {
  color: var(---nav-list-li-a-color);
}

.products-link-container {
  /* display: flex; */
}

.for-btn button {
  padding: 10px 30px;
  border-radius: 17px;
  color: var(---nav-list-li-a-color);
  background: var(---card-buttons-color);
  border: none;
  font-family: "montserrat";
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  gap: 20px;
}

.grid-card-contents button {
  padding: 15px 40px;
  border-radius: 17px;
  color: var(---nav-list-li-a-color);
  background: var(---card-buttons-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-family: "montserrat";
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  gap: 20px;
  width: 100%;
}

.buttons-container button {
  padding: 10px 20px;
  color: var(---nav-list-li-a-color);
  background: var(---card-buttons-color);
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border: none;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 7px;
  width: 100%;
  border-radius: 50px;
}

.grid-card-contents button:hover {
  color: var(---card-buttons-color);
  background: var(---nav-list-li-a-color);
  border: 1px solid var(---card-buttons-color);
  /* transition: all .5s; */
}

.memmo {
  overflow: hidden;
}

.memmo img {
  transition: all .5s;
}

.memmo img:hover {
  transform: scale(1.1);
  transition: all .5s;
}


footer {
  width: 100%;
  padding: 50px;
}

/* .footer-nav {
    max-width: 1266px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.footer-list {
  padding-top: 90px;
}

.close-btnn {
  display: none;
}

.cls-btn i {
  font-size: 40px;
  color: var(---nav-list-li-a-color);
}

.cls-btn i:hover {
  color: var(---card-buttons-color);
  /* transition: ease .5s; */
}

.cls-btn {
  position: absolute;
  right: 20px;
  top: 10px;
}

.footer-main-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 64px;
  color: #f2f2f2;
}

.number-one {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: #f2f2f2;
}

.number-two {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  color: #f2f2f2;
}

#test {
  display: none;
}

.contancud-text {
  font-family: "montserrat";
  font-size: 69px;
  font-weight: bold;
  line-height: 129px;
  color: var(---nav-list-li-a-color);
}

.contactus-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contactus-list li {
  background: var(---nav-list-li-a-color);
  width: 50.1px;
  height: 50.1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus-list li i {
  font-size: 25px;
  color: #000f43;
}

/* .contactus-list li:hover {
    background: #000000;
}

.contactus-list li i:hover {
    color: #ffffff;
} */

.main-inner-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.input-text {
  display: flex !important;
  gap: 20px;
  /* max-width: 1170px; */
  /* margin-right: auto; */
  width: 100%;
}

.input-text {
  width: 100%;
  display: flex;
  /* align-items: center; */
}

.input-text input {
  padding: 10px 300%;
  margin-bottom: 30px;
}

.conect-input pre {
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 00;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.main-inner-container h1 {
  font-family: "montserrat";
  font-size: 40px;
  font-weight: 400;
  color: var(---nav-list-li-a-color);
  margin-top: 50px;
}

.daha-cox {
  margin-top: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat";
  font-size: 15 px;
  font-weight: bold;
  line-height: 9px;
  color: #00105b;
  padding: 9px 19px;
  border-radius: 33px;
  background: #ffffff;
  gap: 10px;
}

.daha-cox a {
  text-decoration: none;
}

.partniyorlar-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 81px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.partniyor-card {
  min-width: 220px;
  border-radius: 18px;
  background: var(---nav-list-li-a-color);
}

.partniyor-card img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.partniyorlar-container p {
  text-align: center;
  font-family: "montserrat";
  font-size: 18px;
  margin-top: 5px;
  font-weight: 500;
  line-height: 25px;
  color: var(---nav-list-li-a-color);
}

.main-header-text p {
  font-family: "montserrat";
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-bottom-content {
  /* padding: 50px; */
}

.cap-header-text {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

.cap-header-text h3 {
  font-size: 51px;
  text-align: center;
  font-family: "montserrat";
  font-weight: 400;
  line-height: 50px;
  color: var(---nav-list-li-a-color);
  padding-bottom: 30px;
}

.cap-header-text p {
  max-width: 1072px;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.cap-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cap-card {
  padding: 20px;
  min-width: 250px;
  border-radius: 9px;
  background: var(---nav-list-li-a-color);
}

.card-for-profile-img {
  max-width: 170px;
  border-radius: 50%;
  background: #00042e;
  display: flex;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.cap-card-content p {
  text-align: center;
  text-align: center;
  font-family: "montserrat";
  font-size: 18px;
  line-height: 25px;
  color: #00042e;
}

.card-for-profile-img img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.about-description {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.about-description span {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.product-details-container {
  display: grid;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 6fr 6fr;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.products-imga-card img {
  width: 100%;
  height: 100%;
}

.testt {
  display: flex;
  gap: 10px;
  padding: 30px;
  align-items: center;
}

.testt input {
  border-radius: 9px;
  background: #ffffff;
  padding: 10px 30px;
  border: none;
  outline: none;
}

.testt button {
  border-radius: 7px;
  background: #df6100;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: var(---nav-list-li-a-color);
}

.products-imga-card {
  border-radius: 10px;
  background: #ebebeb;
}

.testt p {
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 400;
  color: var(---nav-list-li-a-color);
}

.products-about-card-description {
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 400;
  /* line-height: 7px; */
  color: #ffffff;
}

.top-img {
  max-width: 977px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -200px;
  margin-bottom: -200px;
}

.top-one img {
  max-width: 977px;
}

.one-section,
.home-pages-footbol-formalari {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 50px;
}

.two-section-cards {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.home-pages-footbol-formalari h2 {
  font-family: "montserrat";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.home-pages-footbol-formalari p {
  margin-top: 20px;
  max-width: 1072px;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.isci-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  gap: 30px;
  max-width: 1170px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.isci-car {
  min-width: 258px;
  background: var(---nav-list-li-a-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

.isci-card-contents img {
  width: 100%;
}

.two-section-img,
.for-vol {
  position: relative !important;
  width: 100%;
  height: 100vh;
}

.abisolid {
  position: absolute !important;
  font-size: 20px;
  color: #f2f2f2;
  bottom: 50px;
  right: 0;
  left: 0;
}

.for-vol {
  position: relative !important;
}

.abisolid-vol {
  position: absolute !important;
  font-size: 20px;
  color: #f2f2f2;
  left: 300px;
  top: 350px;
}

.abisolid-vol h2 {
  font-family: "montserrat";
  font-size: 52px;
  font-weight: 400;
  line-height: 52px;
  max-width: 323px;
}

.abisolid-vol p {
  font-family: "montserrat";
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  color: #ffffff;
  max-width: 192px;
}

.abisolid-log {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 290px;
}

.abisolid h2 {
  font-family: "montserrat";
  font-size: 101px;
  font-weight: 400;
  text-align: center;
  color: var(---nav-list-li-a-color);
}

.abisolid p {
  font-family: "montserrat";
  font-size: 39px;
  font-weight: 500;
  text-align: center;
  color: var(---nav-list-li-a-color);
}

.daha-cox svg {
  width: 12px;
  height: 12px;
}

.top-img img {
  margin-top: -200px;
}













/*Responsive */



#check:checked~.nav-list {
  left: 0px;
  transition: all 0.4s ease-in-out !important;
}










.exx {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.mm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mm li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(---nav-list-li-a-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.mm li i {
  font-size: 25px;
  font-weight: 600px;
  padding: 30px !important;
}

.btnnn {
  width: 40px;
}

.mm li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(---body-color);
}

.mm-li-active {
  padding: 20px !important;
}


.respnn {
  padding-bottom: 100px;
  line-height: 70px;
}

.submit-btnn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mehsul-for-header {
  height: 10vh;
}

.home-for {
  position: relative;
}

.home-media-list {
  position: absolute;
  right: 250px;
  top: 180px;
}

.home-media-list li {
  background: var(---nav-list-li-a-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.home-media-list li i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(---footer-background-color);
  transition: all 0.5s;
}

.home-media-list li :hover {
  transform: rotate(30deg);
  transition: all 0.5s;
}






.df-jk {
  display: flex;
  justify-content: space-between;
}

.teklif-desc {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "montserrat";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 10px;
  color: #ffffff;
}



.for-log-out {
  position: relative;
  display: flex;
  border-radius: 10px;
  padding: 50px;
}

.for-log-out img {
  border-radius: 10px;
}

.right-arrow {
  background: var(---nav-list-li-a-color);
  border-right: 3px solid var(---nav-list-li-a-color);
  width: 5px;
  height: 95%;
  top: 10px;
  border-radius: 10px;
  position: absolute;
  right: -30px;
}

.log-out-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(---footer-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-log-out i:hover {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.log-out-btn {
  color: var(---nav-list-li-a-color);
  font-size: 14px;
}



.mainn {
  position: relative;
}

.header-bottom-content-contactus {
  position: absolute;
  left: 0;
  right: 0;
  top: -400px;
}



.sub-sub-menu-sports,
.sub-sub-menu-promo {
  visibility: hidden;
}

.sub-sub-menu-sports__link:hover .sub-sub-menu-sports,
.sub-sub-menu-promo__link:hover .sub-sub-menu-promo {
  visibility: visible;
}





.mehsul-size-for {
  height: 10vh;
}

.mm-in {
  padding: 25px;
  background: red;
  font-weight: 600;
}

.navbar {
  border: none;
}
.header-bottom-content-contactus{
  margin-top: 100px;
}